<div class="nav-content">
    <div class="nav-links">
      <a href="/BikePageVite/index.html">
        <i class="fa-solid fa-house"></i>
        <div class="screen">Hjem</div>
      </a>
      <a href="./map.html">
        <i class="fa-solid fa-map"></i>
        <div class="screen">Utforsk</div>
      </a>
      <a href="/">
        <i class="fa-solid fa-circle-question"></i>
        <div class="screen">Mer</div>
      </a>
    </div>
    <div class="nav-search">
      <input id="page-search" type="text" placeholder="Søk...">
      <span class="fa-solid fa-search"></span>
    </div>
  </div>