<div>
    <div class="logo"><img src="./img/Logo.svg" alt="Logo" width="100px" height="100px"></div>
    <div class="footer-desc">Et lite prosjekt laget av</div>
    <div class="footer-name">Are Bergset Elvestad</div>
    <div class="footer-contact">
        <a href="tel: +47 40 10 63 77"><span class="fa-solid fa-phone"></span></a>
        <a href="mailto: areelvestad@yahoo.com"><span class="fa-solid fa-envelope"></span></a>
    </div>
    <div class="footer-cr">
        <p>Alt innhold er opphavsrettslig beskyttet 2024 © Are Bergset Elvestad</p>
    </div>
</div>